body {
  background-color: black;
  color: white;
  text-align: center;
}

.showcase-top {
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
}

.mp3 {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 10pt;
}

.gap {
  margin: 100px;
}

.gap2 {
  margin: 250px;
}
