<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">


  <link rel='stylesheet' href="../static/css/boxoffice.css">
  <link rel="stylesheet" href="../static/css/style_soong_box.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style_soong.css') }}">
  <style type="text/css">
   A:link {text-decoration:none}
   A:visited {text-decoration:none}
   A:hover {text-decoration:none}
  </style><!-- 하이퍼링크에 파란 밑줄 없애는 코드-->

  <title>SOONGFLIX</title>
</head>
<body>
  <div class="backgroundOpacity">


  <header class="showcase">
    <div class="showcase-top">
   <img src="../static/img/SOONGFLIX_LOGO.png" width="15%">
    </div>
  </header>

    <div class='contentsContainer_result'>
      <div class='textstyle'>
        <div style="display:flex; flex-direction: column; height: 90%;">
          <span class="movieTitle">영화 박스오피스 TOP 10</span>
          <span class="movieTitle">최신 영화 박스오피스 순위를 알려 드립니다</span>
          <span class="product">즐거운 관람 되시길 바랍니다.</span>
          <div class="boxOffice">
              <h2>일별 박스오피스</h2> <!--{{date}}-->
              <p>TOP 10</p>
              <a href="https://search.naver.com/search.naver?where=nexearch&query=박스오피스순위"><!--네이버 박스오피스 순위로 링크-->
              <ul>
                  <li><p>{{Boxoffice[0][0]}} ▶ {{Boxoffice[0][1]}} <br>개봉일: {{Boxoffice[0][2]}}  누적관객수: {{Boxoffice[0][3]}}</p></li>
                  <li><p>{{Boxoffice[1][0]}} ▶ {{Boxoffice[1][1]}} <br>개봉일: {{Boxoffice[1][2]}}  누적관객수: {{Boxoffice[1][3]}}</p></li>
                  <li><p>{{Boxoffice[2][0]}} ▶ {{Boxoffice[2][1]}} <br>개봉일: {{Boxoffice[2][2]}}  누적관객수: {{Boxoffice[2][3]}}</p></li>
                  <li><p>{{Boxoffice[3][0]}} ▶ {{Boxoffice[3][1]}} <br>개봉일: {{Boxoffice[3][2]}}  누적관객수: {{Boxoffice[3][3]}}</p></li>
                  <li><p>{{Boxoffice[4][0]}} ▶ {{Boxoffice[4][1]}} <br>개봉일: {{Boxoffice[4][2]}}  누적관객수: {{Boxoffice[4][3]}}</p></li>
                  <li><p>{{Boxoffice[5][0]}} ▶ {{Boxoffice[5][1]}} <br>개봉일: {{Boxoffice[5][2]}}  누적관객수: {{Boxoffice[5][3]}}</p></li>
                  <li><p>{{Boxoffice[6][0]}} ▶ {{Boxoffice[6][1]}} <br>개봉일: {{Boxoffice[6][2]}}  누적관객수: {{Boxoffice[6][3]}}</p></li>
                  <li><p>{{Boxoffice[7][0]}} ▶ {{Boxoffice[7][1]}} <br>개봉일: {{Boxoffice[7][2]}}  누적관객수: {{Boxoffice[7][3]}}</p></li>
                  <li><p>{{Boxoffice[8][0]}} ▶ {{Boxoffice[8][1]}} <br>개봉일: {{Boxoffice[8][2]}}  누적관객수: {{Boxoffice[8][3]}}</p></li>
                  <li><p>{{Boxoffice[9][0]}} ▶ {{Boxoffice[9][1]}} <br>개봉일: {{Boxoffice[9][2]}}  누적관객수: {{Boxoffice[9][3]}}</p></li>
                  </ul></a>
          </div>
        </div>
        <div>
          <br>
          <a href=remain class="myButton1" style="margin : 0 23px 0 0"> 메인으로 </a>
          <br><br><br>
        </div>

      </div>

    </div>


    <a href="http://mediamba.ssu.ac.kr/"><img src="static/Soongsil_Univ_ad.png" alt="광고"></a><!-- 미디어경영학과홈페이지로 링크-->
    </div>
  </div>


</body>

</html>
