<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style_check.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style_check.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Do+Hyeon&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
  <title>SOONGFLIX</title>
    
</head>

<body>
  <header class="showcase">
    <div class="showcase-top">
      <img src="static/SOONGFLIX_LOGO.png" width="15%">
    </div>
  </header>
  <div class="mp3">
    <p>"Gaiety in the Golden Age - Aaron Kenny"</p>
    <p>↓노래가 안나오면 플레이 버튼을 눌러주세요</p>
    <audio id = "bgAudio" controls autoplay src="static/Gaiety in the Golden Age - Aaron Kenny.mp3" loop></audio>
    <script>
         var audio = document.getElementById("bgAudio");
         audio.volume = 0.3;
    </script><!-- 1010 이수진 수정 오디오 기본 출력 30%로 설정 -->


  </div>
  <div class="gap"></div>
  <p>여느 때와 같이 PC에 접속한 나</p>
  <div class="gap"></div>
  <p>"...?"</p>
  <div class="gap"></div>
  <img src="static/start.jpg" alt="푸른빛">
  <p>갑자기 푸른 빛에 휩싸이며 <strong>영화 세상</strong> 으로 들어오고 말았다.</p>
  <div class="gap2"></div>
  <img src="static/pow.jpg" alt="펑!">
  <p>"펑!!"</p>
  <div class="gap2"></div>
  <p>펑!! 소리와 함께 어디선가 자신을 "척척박사" 라고 말하는 캐릭터가 나타났다.</p>
  <p>난데없이 나타나선 내 취향에 따라 원하는 영화로 갈 수 있게 도와준다는데?</p>
  <img src="static/dr.movie.png" alt="척척박사">
  <p>"안녕 나는 숭플릭스의 척척박사라고 해! 보시다 시피 여기는 영화속 세상으로 가기 전 입구야!"</p>
  <p>"이곳을 통해 평소에 꿈꾸던 영화속으로 들어가서 살 수 있어, 네 취향을 알아내서 네가 갈 수 있는 영화 1개를 골라 줄게!"</p>
  <div class="gap2"></div>
  <img src="static/dr.movie_hum.png" alt="척척박사">
  <p>.. 못미더운가 본데, 나 꽤나 신통방통 하다구~?</p>
  <p>흠흠!! 본격적으로 영화세상속으로 들어가기 전에 몇가지 질문을 할거야! 신중하게 선택해줘 자, 그럼~?</p><!-- 1010 이수진 수정 연결문장 추가-->
  <div class="gap2"></div>
  <img src="static/pow.jpg" alt="펑!">
  <p>"펑!!"</p>
  <div class="gap2"></div>



<!--1011 이수진 수정 상단에 중복되는 jquery 라이브러리 url이 있어서 삭제-->
  <script>
    function fnMove(seq) {
      var offset = $("#div" + seq).offset();
      $('html, body').animate({
        scrollTop: offset.top - 180
      }, 400  );
    }
  </script><!-- 1010 이수진 수정, onclick 반복코드 단축, 단순 길이스크롤이 아닌 화면 내 지정위치로 이동하는 코드로 변경 현재 페이지 상단에서 - 230 이동-->


  <form action="/get_value" method="POST" > <!--1015 심세진 삽입-->
  <img src="static/genre.jpg" alt="장르">
  <p>Q1. 먼저 첫번째 질문이야! 평소 좋아하던 영화 장르가 뭐야?</p>
  <div id="radioContainer">
      <label><input type="radio" name="Q1" value="1" onClick="fnMove('2')">1. 드라마/로맨스</label>
    <label><input type="radio" name="Q1" value="2" onClick="fnMove('2')">2. 코메디</label>
    <label><input type="radio" name="Q1" value="3" onClick="fnMove('2')">3. 액션</label>
    <label><input type="radio" name="Q1" value="4" onClick="fnMove('2')" required>4. 공포(호러)</label>
  </div>
  <div class="gap2"></div>
      
      
      
      
<!-- 라디오버튼을 검사하는 script 추가해보았으나 미실행..
      
<script>

if ( ! jQuery('input[name="Q1"]:checked').val() ) {
    alert('옵션을 선택해주세요.');
    jQuery('input[name="Q1"]').focus();
    return false;
}

</script>
1027 20:33 이수진 -->
      
      
      
<!--required-- 코드 사용 해보았으나 적용 안됨. ?????? 1027 20:15 이수진-->
      
    
<!--  1027 이수진 필수 선택지 옵션 선택 시도.
<script>
  function formcheck(f){
   var checked = false;
   for(var i=0; i<f.Q1.length; i++){
    if(f.mb_1[i].checked == true){
     checked = true;
     break;
    }
   }

   if(checked == false){
    alert("1번 항목을 선택하지 않았습니다.");
    return false;
   }
  }
  </script>     실패 1027 20: 10 -->
      
      
<!-- 또 다른시도      
<script>
    
    
if ( $(f).find('[name=Q1]:checked').length < 1 ) {
     alert("선택지를 꼭 클릭하세요.");
     return false;
}
      
</script>   실패... 1027  21:15 이수진 -->      
      
      
      
  <div id="div2"></div>
  <img src="static/feel.jpg" alt="기분">
  <p>Q2. 현재 너의 컨디션은 어때?</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q2" value="1" onClick="fnMove('3')">1. 최상의 컨디션. 몸이 날아 갈 것 같아</label>
    <label><input type="radio" name="Q2" value="2" onClick="fnMove('3')">2. 괜찮은 정도. 나쁠껀 뭐야</label>
    <label><input type="radio" name="Q2" value="3" onClick="fnMove('3')">3. 보통. 쏘쏘해</label>
    <label><input type="radio" name="Q2" value="4" onClick="fnMove('3')" required>4. 최악. 힘들어</label>
  </div>
  <div class="gap2"></div>


  <div id="div3"></div>
  <img src="static/reality.jpg" alt="현실적"><!-- 1011 이수진 수정 reality.jpg 이미지 사이즈 640X420 으로 변경. 세로 픽셀 420 넘어갈경우 화면 잘림현상 발생. -->
  <p>Q3. 다음 중 네가 생각하는 가장 현실적인 건 뭐야?</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q3" value="1" onClick="fnMove('4')">1. 복권 1등 당첨</label>
    <label><input type="radio" name="Q3" value="2" onClick="fnMove('4')">2. 인공지능 로봇</label>
    <label><input type="radio" name="Q3" value="3" onClick="fnMove('4')">3. 상상의 동물</label>
    <label><input type="radio" name="Q3" value="4" onClick="fnMove('4')" required>4. 총에 맞았지만 살아난 사람</label>
  </div>
  <div class="gap2"></div>


  <div id="div4"></div>
  <img src="static/vacation.jpg" alt="휴가">
  <p>Q4. 모처럼만의 휴가를 받는다면 네가 제일 가고 싶은 곳은 어디야?</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q4" value="1" onClick="fnMove('5')">1. 해외의 화려한 유흥 도시</label>
    <label><input type="radio" name="Q4" value="2" onClick="fnMove('5')">2. 인심 넘치는 시골로 드라이브</label>
    <label><input type="radio" name="Q4" value="3" onClick="fnMove('5')">3. 조용한 내 방</label>
    <label><input type="radio" name="Q4" value="4" onClick="fnMove('5')" required>4. 귀족 느낌 호캉스</label>
  </div>
  <div class="gap2"></div>
  <div id="div5"></div>
  
    
  <div id="div5"></div>
  <img src="static/play.jpg" alt="놀이">
  <p>Q5. 네가 휴가지에서 가장 하고 싶은 게 뭐야?</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q5" value="1" onClick="fnMove('6')">1. 잠을 잔다</label>
    <label><input type="radio" name="Q5" value="2" onClick="fnMove('6')">2. 노래 감상</label>
    <label><input type="radio" name="Q5" value="3" onClick="fnMove('6')">3. 맛집 탐방</label>
    <label><input type="radio" name="Q5" value="4" onClick="fnMove('6')" required>4. 바다에서 수영</label>
  </div>
  <div class="gap2"></div>


  <div id="div6"></div>
  <img src="static/time.jpg" alt="시간">
  <p>Q6. 과거든, 미래든 네가 원하는 시간으로 보내준다면.. 어딜고를거야?</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q6" value="1" onClick="fnMove('7')">1. 어린날로 돌아갈래 하이틴 10대! </label>
    <label><input type="radio" name="Q6" value="2" onClick="fnMove('7')">2. 본격적인 내 삶의 시작! 청춘 20대!</label><br>
    <label><input type="radio" name="Q6" value="3" onClick="fnMove('7')">3. 내 인생의 황금기 절정, 30대! </label>
    <label><input type="radio" name="Q6" value="4" onClick="fnMove('7')" required>4. 완전한 어른이지. 40대!</label>
  </div>
  <div class="gap2"></div>


  <div id="div7"></div>
  <img src="static/dessert.jpg" alt="디저트">
  <p>Q7. 마지막 질문이야! 먹고 싶은 디저트를 골라봐!</p>
  <div id="radioContainer">
    <label><input type="radio" name="Q7" value="1" onClick="fnMove('8')">1. 양갱</label>
    <label><input type="radio" name="Q7" value="2" onClick="fnMove('8')">2. 초코바</label>
    <label><input type="radio" name="Q7" value="3" onClick="fnMove('8')">3. 모찌</label>
    <label><input type="radio" name="Q7" value="4" onClick="fnMove('8')" required>4. 인절미</label>
  </div>

  <div class="gap2"></div>


   <div id="div8"></div>
   <img src="static/end_.jpg" alt="끝">
   <p>와!! 끝이야!! 고생했어~ 정말 고생했어~~!!</p>
   <p>이제 조금만 기다리면 !! 네가 원하는 영화세상속으로 보내줄거야!!</p><br>
   <input type="submit" class="btn_submit" value="">
      <!-- 20201030 오후 8:15 이수진 변경 submit 스타일 변경-->

 <!--   <input type="submit", onClick="check()">1015 심세진 삽입-->
   </form> <!--1015 심세진 삽입-->
   <div class="gap2"></div>
   <div class="gap2"></div>


</body>
</html>
    
    