<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style_soong.css" />
  <title>SOONGFLIX</title>
</head>

<body>
  <header class="showcase">
    <div class="showcase-top">
      <img src="SOONGFLIX_LOGO.png" width="15%">
    </div>
  </header>
  <h1>영화추천프로그램</h1>
  "Soong_Flix와 함께하는 취향저격 영화 추천"
  <div class="a">
  </div>
  <input type="button" name="시작하기" value="start" onclick="location.href='soongflix_check_1.html'" <a href="#" class="myButton"></a>
  <br><br><br>
  'start' 버튼을 누르세요.
  <div class="b">
  </div>
  2020-2학기 숭실대 미디어경영학과 프로그래밍2 수업 3팀
  <br><br><br>
</body>

</html>